/* =========================
   RESET
========================= */
html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
}
/* SECTION */
.section {
    min-height: 100vh;
    display: flex;
    align-items: center;

    padding-left: 120px;
    padding-right: 40px;
}

.hero {
    background: #f5f7fa;
}

/* FLOATING MENU */
.floating-menu {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 1000;
}

.menu-btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #e9ecef;
    color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-btn.active,
.menu-btn:hover {
    background: #0d6efd;
    color: #fff;
}

/* BURGER */
.burger-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 50%;
}

/* SCROLL TOP */
.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
}

/* OFFCANVAS ITEMS */
.side-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    cursor: pointer;
}

.side-item.active {
    background: #0d6efd;
    color: white;
}

/* MOBILE */
@media (max-width: 991px) {
    .section {
        padding-left: 20px;
        padding-right: 20px;
    }
}
